body {
	background color:#E6E6FA;
	font-family: Helvetica, Arial, sans-serif;
}


#container {
	background-color: white;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

a {
	text-decoration: none;
	color: black;
}

h1, h2, h3 {
	magin: 0;
}
	
#header {
	background-color: #FFFACD;
	color: white;
	text-align: center; 
	padding: 10px;
}
 
 #content {
	 padding: 10px;
}

#nav {
	width: 80px
	float: left;
}	

#nav ul{
	list-style-type: none;
	padding: 0;
}	

#nav.selected {
	font-weight: bold;
}

#main {
	width: 800px;
	float: right;
}

#footer {
	clear: both;
	padding: 10px;
	background-color: #FFDAB9;
	color: white;
	text-align: right;
